
@{
    ViewData["Title"] = "WIDOK CZĘŚCIOWY JEST TUTAJ";
}

<h1>@ViewBag.ErrorMessage</h1>
<h1 class="display-4">FILMY</h1>
<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
    WITAMY NA STRONIE GŁÓWNEJ<br />
    KLIKNIJ ABY SIĘ ZALOGOWAĆ
</a>

